@reference '../../../styles.css';
.input-container {
    @apply w-full flex flex-row justify-start items-center gap-6 py-2;
}
input {
    @apply w-xl h-9 border-2 border-gray-400 rounded-md px-2;
}
button {
    @apply w-fit h-9 px-2 bg-blue-500 text-white rounded-md cursor-pointer;
    transition: .25s;
}
button:hover {
    @apply bg-blue-400;
}
button:active {
    @apply bg-blue-600;
    transition: 0s;
}